<div class="container-fluid" *ngIf="isPupil()">
    <div class="page-title">
        <h4>Topshirish kerak bo'lgan testlar</h4>
    </div>
    <div class="row">
        <div class="col-md-2" style="float: left;">
            <h3>Fanni tanlang:</h3>
        </div>
        <div class="col-md-4" *ngIf="subjects.length > 0">
            <ng-selectize [config]="singleSelectConfig" [options]="subjects" [(ngModel)]="subject_id"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="getExams($event)" ngDefaultControl>
            </ng-selectize>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" *ngFor="let exam of data">
            <a *ngIf="exam.started" [routerLink]="['/exams/pass/',exam.exam_id]" class="card">
                <ul class="list-unstyled list-info">
                    <li>
                        <div class="pdd-vertical-10 pdd-horizon-20">
                            <div class="info" style="padding-left: 0 !important;">
                                <span class="title">{{ exam.subject }}</span>
                                <span class="sub-title">
                                    <i class="ti-timer pdd-right-5"></i>
                                    <span>{{ exam.time }} minut</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="card-block">
                    <h4>{{ exam.exam_name }}</h4>
                    <p><b>Boshlanish vaqti: </b> {{ exam.start_time }} <br>
                        <b>Tugash vaqti:</b> {{ exam.finish_time }}
                    </p>
                </div>
            </a>
            <a *ngIf="!exam.started" (click)="startExam(exam)" class="card">
                <ul class="list-unstyled list-info">
                    <li>
                        <div class="pdd-vertical-10 pdd-horizon-20">
                            <div class="info" style="padding-left: 0 !important;">
                                <span class="title">{{ exam.subject }}</span>
                                <span class="sub-title">
                                    <i class="ti-timer pdd-right-5"></i>
                                    <span>{{ exam.time }} minut</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-media">
                    <img class="img-responsive" style="max-height: 270px !important;"
                        src="assets/images/subjects/{{exam.image}}" alt="">
                </div>
                <div class="card-block">
                    <h4>{{ exam.exam_name }}</h4>
                    <p><b>Boshlanish vaqti: </b> {{ exam.start_time }} <br>
                        <b>Tugash vaqti:</b> {{ exam.finish_time }}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">        
        <div class="col-lg-12 col-md-12" *ngIf="isAdmin()">
            <div class="card">
                <div class="card-heading">
                    <h4 class="card-title inline-block pdd-top-5">Statistika</h4>                    
                </div>                                            
                <div class="pdd-horizon-20 pdd-vertical-5" style="margin-bottom: 15px;">
                    <div class="overflow-y-auto relative" style="height: 381px">
                        <table *ngIf="teachers" id="teachersTable" class="table table-lg table-hover" datatable
                            [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>F.I.O</th>
                                    <th>Fani</th>
                                    <th>Testlar soni</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of teachers">
                                    <td>
                                        <div class="list-info mrg-top-10">
                                            <a [routerLink]="['/users/detail', 'teacher', user.id, school_id]">
                                                <div class="info" style="padding-left: 0 !important">
                                                    <span class="title">{{ user.full_name }}</span>
                                                    <span class="sub-title">Foydalanuvchi nomi:
                                                        {{ user.username }}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-15">
                                            <span class="title"> {{ user.subject.name }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-10 text-center">
                                            <span class="title"> {{ user.exams }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>